<div class="decorative-elements">
  <!-- Top Left -->
  <div class="circle circle-top-left"></div>
  <img src="assets/svg/wavy-line.png" alt="Decorative wavy line" class="wavy-line-img wavy-top-left">
  <div class="rectangle rectangle-top-left"></div>
  
  <!-- Top Right -->
  <img src="assets/svg/wavy-line.png" alt="Decorative wavy line" class="wavy-line-img wavy-top-right">
  <div class="rectangle rectangle-top-right"></div>
  
  <!-- Bottom Left -->
  <img src="assets/svg/dotted-card.png" alt="Decorative dotted card" class="dotted-card-img dotted-orange-bottom-left">
  <img src="assets/svg/dotted-card.png" alt="Decorative dotted card" class="dotted-card-img dotted-gray-bottom-left">
  <div class="circle circle-bottom-left"></div>
  
  <!-- Bottom Right -->
  <img src="assets/svg/dotted-card.png" alt="Decorative dotted card" class="dotted-card-img dotted-orange-bottom-right">
  <img src="assets/svg/person-sitting.png" alt="Person sitting illustration" class="person-sitting-img">
  
  <!-- Form Top -->
  <div class="circle circle-form-top" *ngIf="showFormTopCircle"></div>
</div>

