<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>EMAIL ADDRESS</label>
        <div class="input-wrapper">
            <i class="pi pi-envelope input-icon"></i>
            <input type="email" pInputText placeholder="you@company.com" formControlName="email" class="custom-input">
        </div>
        <small class="error-msg" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            Valid email is required
        </small>
    </div>

    <div class="form-group">
        <label>PASSWORD</label>
        <div class="input-wrapper">
            <i class="pi pi-lock input-icon"></i>
            <input [type]="showPassword ? 'text' : 'password'" pInputText placeholder="Enter your password" formControlName="password" class="custom-input">
            <i class="pi input-icon-right" [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'" (click)="togglePasswordVisibility()"></i>
        </div>
        <small class="error-msg" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Password must be at least 6 characters
        </small>
    </div>

    <div class="form-actions">
        <a class="link-btn" (click)="switchToForgotPassword.emit()">Forgot password?</a>
    </div>

    <button pButton type="submit" label="Sign In" icon="pi pi-arrow-right" iconPos="right" class="submit-btn"></button>

    <div class="auth-footer">
        Don't have an account? <a (click)="switchToSignup.emit()" class="link-highlight">Sign Up</a>
    </div>
</form>